```html
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Banking API Page{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <nav>
        {% include 'nav.html' %}
    </nav>
    <h1>{% block content_title %}Banking API Page{% endblock %}</h1>
    <p>{% block content_description %}Here you can interact with the Banking API.{% endblock %}</p>
    
    {% block content %}
     <!-- Add the relevant functionality here. -->
    {% endblock %}

</body>
</html>
```