{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Clone Training{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    {% block extra_head %}
    {% endblock %}
</head>
<body>
    {% include "nav.html" %}
    <h1>{% block header %}Clone Training{% endblock %}</h1>
    <p>{% block content %}Here you can learn about the process of clone training.{% endblock %}</p>
    <div id="training-content">
        <!-- Dynamic content goes here -->
    </div>
    <button id="startTraining" onclick="startTraining()">Start Training</button>

    {% block extra_body %}
    <script src="{% static 'js/startTraining.js' %}"></script>
    {% endblock %}

    {% include "footer.html" %}
</body>
</html>