{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Clone Training{% endblock %}</title>
    {% block extra_head %}
    {% endblock %}
</head>
<body>
    <h1>{% block header %}Clone Training{% endblock %}</h1>
    <p>{% block content %}Here you can learn about the process of clone training.{% endblock %}</p>
    {% include "button.html" %}

    {% block extra_body %}
    <script src="{% static 'js/startTraining.js' %}"></script>
    {% endblock %}
</body>
</html>