<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Setting the character encoding, viewport size, and providing page title -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Inline CSS for styling of footer -->
    <style>
      /* This footer will have a light color background, with sizeable padding and dark text color. */
      footer {
        background-color: #f8f9fa;
        padding: 40px 0;
        color: #212529;
      }
    </style>
</head>
<body>
    <!-- Footer section start -->
    <footer>
        <!-- Container to encapsulate the contents of the footer -->
        <div class="container">
        
          <!-- A row for placing footer elements -->
          <div class="row">

            <!-- This column will contain about, contact and terms of use links -->
            <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
              <!-- List of site links -->
              <ul class="list-inline mb-2">
                <li class="list-inline-item">
                  <a href="/about">About</a>
                </li>
                <li class="list-inline-item">&sdot;</li>
                <li class="list-inline-item">
                  <a href="/contact">Contact</a>
                </li>
                <li class="list-inline-item">&sdot;</li>
                <li class="list-inline-item">
                  <a href="/terms-of-use">Terms of Use</a>
                </li>
              </ul>

              <!-- Displaying site copyright -->
              <p class="text-muted small mb-4 mb-lg-0">&copy; Smodal 2022. All Rights Reserved.</p>
            </div>

            <!-- This column will contain social media links -->
            <div class="col-lg-6 h-100 text-center text-lg-right my-auto">

              <!-- List of social links -->
              <ul class="list-inline mb-0">
                <li class="list-inline-item mr-3">
                  <a href="https://www.facebook.com/">
                    <i class="fab fa-facebook fa-2x fa-fw"></i>
                  </a>
                </li>
                <li class="list-inline-item mr-3">
                  <a href="https://twitter.com/">
                    <i class="fab fa-twitter-square fa-2x fa-fw"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="https://instagram.com/">
                    <i class="fab fa-instagram fa-2x fa-fw"></i>
                  </a>
                </li>
              </ul>
            </div>
            
          </div>
        </div>
    </footer>
    <!-- Footer section end -->
</body>
</html>