<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/static/css/footer.css" rel="stylesheet">
</head>
<body>
    <footer>
        <div class="container">
          <div class="row">
            <div class="col-lg-4 offset-lg-2 h-100 text-center text-lg-left my-auto">
              <ul class="list-inline mb-2">
                <li class="list-inline-item">
                  <a href="/about">About</a>
                </li>
                <li class="list-inline-item">&sdot;</li>
                <li class="list-inline-item">
                  <a href="/contact">Contact</a>
                </li>
                <li class="list-inline-item">&sdot;</li>
                <li class="list-inline-item">
                  <a href="/terms-of-use">Terms of Use</a>
                </li>
                <li class="list-inline-item">&sdot;</li>
                <li class="list-inline-item">
                  <a href="/privacy-policy">Privacy Policy</a>
                </li>
                <!-- ADDITIONAL LINKS RELATED TO FRONTEND FUNCTIONS -->
                <li class="list-inline-item">&sdot;</li>
                <li class="list-inline-item">
                  <a href="/frontend-functions">Frontend Functions</a>
                </li>
                <!-- END OF ADDITIONAL LINKS -->
              </ul>
              <p class="text-muted small mb-4 mb-lg-0">&copy; Smodal 2022. All Rights Reserved.</p>
            </div>
            <div class="col-lg-4 h-100 text-center text-lg-right my-auto">
              <ul class="list-inline mb-0">
                <li class="list-inline-item mr-3">
                  <a href="https://www.facebook.com/">
                    <i class="fab fa-facebook fa-2x fa-fw"></i>
                  </a>
                </li>
                <li class="list-inline-item mr-3">
                  <a href="https://twitter.com/">
                    <i class="fab fa-twitter-square fa-2x fa-fw"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="https://instagram.com/">
                    <i class="fab fa-instagram fa-2x fa-fw"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
    </footer>
</body>
</html>