<!doctype html>
{% load static from staticfiles %}
<html lang="en">
<head>
    <title>Python Flask ReplAuth</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <link rel="stylesheet" href="{% static 'styles/responsive.css' %}">
    <script>
        function delayRedirection() {
            setTimeout(function() {
                window.location.href = "/login";
            }, 7000);
        }
        window.onload = delayRedirection;
    </script>
</head>
<body>
    {% include 'includes/header.html' %}

    {% if user_id %}
        {% include 'users/dashboard.html' %}
    {% else %}
        {% include 'users/login.html' %}
    {% endif %}

    {% include 'includes/footer.html' %}
</body>
</html>