<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Welcome to Modaltokai</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <link rel="stylesheet" href="{% static 'styles/responsive.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      $(document).ready(function(){
        setTimeout(function(){
          window.location.href = 'login.html';
        }, 7000);
      });
    </script>
</head>
<body>
    {% include 'includes/header.html' %}

    {% if user_id %}
        {% include 'users/dashboard.html' %}
    {% else %}
        {% include 'users/login.html' %}
    {% endif %}

    {% include 'includes/footer.html' %}
</body>
</html>