<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Start of head section -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Navigation</title> <!-- Title of the page -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}"> <!-- External CSS for this page -->
    <!-- End of head section -->
</head>

<body>
    <!-- Start of body section -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light"> <!-- Navbar for the application -->
        <a class="navbar-brand" href="{% url 'home' %}">Home</a> <!-- Home page link -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'watch' %}">Watch</a> <!-- Watch page link -->
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">About</a> <!-- About page link -->
                </li>
            </ul>
        </div>
    </nav>
    <!-- End of body section -->
</body>

</html>