<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Start of head section -->
    <title>Navigation</title> <!-- Title of the page -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}"> <!-- Linking CSS for this page -->
    <!-- End of head section -->
</head>

<body>
    <!-- Start of body section -->
    <div class="navbar"> <!-- Navbar for the application -->
        <a href="{% url 'home' %}">Home</a> <!-- Home page link -->
        <a href="{% url 'watch' %}">Watch</a> <!-- Watch page link -->
        <a href="{% url 'about' %}">About</a> <!-- About page link -->
    </div>
    <!-- End of body section -->
</body>

</html>