```
{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Menu</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/style.css' %}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'clone_training' %}">Clone Training</a></li>
            <li><a href="{% url 'database_storage' %}">Database/Storage</a></li>
            <li><a href="{% url 'watch_page' %}">Watch Page</a></li>
            <li><a href="{% url 'banking_api' %}">Banking API</a></li>
        </ul>
    </nav>
    <main>
        <h1>Welcome to the main Menu!</h1>
        <p>Select one of the options above to navigate through the app.</p>
    </main>
</body>
</html>
```