{% extends "base_generic.html" %}

{% block content %}
    <h1>This is Page 3</h1>
    <ul>
        <li><a href="{% url 'homepage' %}">Homepage</a></li>
        <li><a href="{% url 'page1' %}">Page 1</a></li>
        <li><a href="{% url 'page2' %}">Page 2</a></li>
    </ul>

    <!-- All functional buttons are labeled -->
    <button onclick="alert('Button 1 Pressed')">Button 1</button>
    <button onclick="alert('Button 2 Pressed')">Button 2</button>
    <button onclick="alert('Button 3 Pressed')">Button 3</button>
{% endblock %}