{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {% block title %}<title>Watch Page</title>{% endblock %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/watch_page.css' %}" rel="stylesheet">
</head>

<body>
    {% include "nav.html" %}
    {% for interaction in interactions %}
        <div class="container" id="live-chat">
            <p>User: {{ interaction.user_input }}</p>
            <p>Bot: {{ interaction.bot_response }}</p>
        </div>
    {% endfor %}
    
    <div class="interact">
        <button id="takeover">Take Over Chat</button>
    </div>

    {% include "footer.html" %}
    <script src="{% static 'js/takeover.js' %}"></script>
</body>

</html>