# This is a .gitignore file which will prevent certain files
# such as those containing sensitive information (like .env) from being committed to the repository.

# First, start with ignoring .env file which typically holds sensitive environment variables
.env

# Ignore node modules - they should be recreated at install time
node_modules/

# Ignore log files and databases
*.log
*.sqlite

# Ignore the build output directory
dist/